.hexaflip-cube {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -ms-transition: -ms-transform 0.4s;
  transition: transform 0.4s;
}
.hexaflip-cube.no-tween {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  -ms-transition-duration: 0;
  transition-duration: 0;
}
.hexaflip-cube > div {
  width: 100%;
  overflow: hidden;
  height: 100.5%;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-weight: 100;
  text-shadow: 0 -2px 0 rgba(0,0,0,0.2);
  line-height: 1.5;
}
.hexaflip-left,
.hexaflip-right {
  background-color: #555 !important;
}

#timer-wrapper{
  position: fixed;
  width: 100%;
  bottom:0;
  pointer-events:none;
}

#tvza-timer {
  margin: 0 auto;
  -webkit-transform-origin:center -250px;
}
#tvza-timer .hexaflip-cube {
  opacity: 1;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
#tvza-timer .hexaflip-cube .hexaflip-left,
#tvza-timer .hexaflip-cube .hexaflip-right {
  background-color: #1C1F2A !important;
}
#tvza-timer .hexaflip-cube > div{
  font-weight: 100;
  text-shadow: none;
}
#tvza-timer .hexaflip-cube > div{
  background-color: #132853;
  color: white;
}
#tvza-timer .hexaflip-cube > div:nth-child(2n+2) {
<<<<<<< HEAD
  background-color: white;
  color: #132853;
}/*
=======
  background-color: #eee;
  color: #069ad5;
}
>>>>>>> 854c62aa2555a48dc970a84565827de68212b3d2
#tvza-timer .hexaflip-cube > div:nth-child(3n+3) {
  background-color: #069ad5;
}
#tvza-timer .hexaflip-cube > div:nth-child(4n+4){
  background-color: #eee;
  color: #069ad5;
}

*/
