body {
  padding-bottom: 20px;
}

#akt_content{
  margin: 0 15px;
}

/*#akt_content h1{
	text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #aaa,
               0 3px 0 #777,
               0 4px 0 #444,
               0 6px 1px rgba(255,255,255,.1),
               0 0 5px rgba(255,255,255,.1);
}
*/

.center{
	text-align:center;
}
.container {
max-width: 750px;
}

.max-300{
	max-width:300px;
	margin-left:auto;
	margin-right:auto;
}
.max-480{
	max-width:480px;
	margin-left:auto;
	margin-right:auto;
}
.max-500{
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
}


#profile{
	padding:20px;
}

#profile table {
	width: 100%;
	border:0;
	border-collapse:separate;
	border-spacing:10px 20px;
}

#profile td:first-child{
	font-weight:bold;
}

#profile tr{
	margin-bottom:20px;
}

#content .col{
	
	padding:15px;
}

#content h2{
	margin-bottom:10px;
	margin-top:30px;
}


#content .register-btn input{
	width:auto;
}

#content p{
	margin-bottom:15px;
}

#content ul{
	margin-left:20px;
}

#content h1{
	margin-top:20px;
	margin-left:10px;
	margin-bottom:10px;
}



.right{
	float:right !important;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

  /*
   * Don't remove this code, you removed it previously
  */
  /*Sorry... :) */

  .glass label:first-child,
  .glass input[type='text'],
  .glass input[type='email'],
  .glass input[type='password'],
  .glass input[type='tel'],
  .half,
  #profile td{
    width:100% !important;
    display:block !important;
  }
  
  .half label:first-child{
    width:80% !important;
  }


a{
  color: #CCC;
  text-decoration: none;
  text-align: center;
}
li a:hover{
  color: white;
  cursor: pointer;
  text-decoration: none;
}

a:hover,a:active,a:visited{  color: white;
};